<div class="splash-screen">
  <h1 class="logo">
    Budget App
  </h1>

  <div class="main-buttons">
    <%= link_to "LOG IN", new_user_session_path, class: "login-btn" %>
    <%= link_to "SIGN UP", new_user_registration_path, class: "signup-btn" %>
  </div>
</div>
